.navbar.navbar-inverse#navbar-fix
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse.collapse
        %ul.nav
          %li{:class=>"#{'active' if page.output_path.start_with?('/index') }" }<
            %a(href="#{site.base_url}/index.html") Home
          %li{:class=>"#{'active' if page.output_path.start_with?('/downloads') }" }<
            %a(href="#{site.base_url}/downloads.html") Downloads
          %li{:class=>"#{'active' if page.output_path.start_with?('/docs') }" }<
            %a(href="#{site.base_url}/docs.html") Documentation
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")<
              = precede 'Community ' do
                %b.caret>
            %ul.dropdown-menu
              %li<
                %a(href="#") Chat
              %li<
                %a(href="#") Blog
          %li{:class=>"#{'active' if page.output_path.start_with?('/issues') }" }<
            %a(href="https://issues.jboss.org/browse/AESH") Issues
          %li{:class=>"#{'active' if page.output_path.start_with?('/contribute') }" }<
            %a(href="#{site.base_url}/contribute.html") Contribute
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")<
              = precede 'Follow Us ' do
                %b.caret>
            %ul.dropdown-menu.projectsocialmedia
              %li<
                %a(href="#")<
                  %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_twitter.png")
              %li<
                %a(href="#")<
                  %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_googleplus.png")
          %li.divider

//        %ul.nav.pull-right
//          %li
//            %form.navbar-search
//              %input.search-query#projectsearch(type="text" placeholder="Search")
