.navbar.navbar-inverse#navbar-fix
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse.collapse
        %ul.nav
          %li{:class=>"#{'active' if page.output_path.start_with?('/index') }" }<
            %a(href="#{site.base_url}/index.html") Home
          %li{:class=>"#{'active' if page.output_path.start_with?('/downloads') }" }<
            %a(href="#{site.base_url}/downloads.html") Downloads
          %li{:class=>"#{'active' if page.output_path.start_with?('/docs') }" }<
            %a(href="#{site.base_url}/docs.html") Documentation
          %li{:class=>"#{'active' if page.output_path.start_with?('/issues') }" }<
            %a(href="https://issues.jboss.org/browse/AESH") Issues
          %li{:class=>"#{'active' if page.output_path.start_with?('/contribute') }" }<
            %a(href="#{site.base_url}/contribute.html") Contribute

//        %ul.nav.pull-right
//          %li
//            %form.navbar-search
//              %input.search-query#projectsearch(type="text" placeholder="Search")
